@model RRHH.Models.Usuario

@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title text-center">Registro</h5>
        <form asp-action="Register" method="post">
            <div class="mb-3">
                <label asp-for="Cedula" class="form-label">Cédula</label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NombreUsuario" class="form-label">Nombre de Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Contrasena" class="form-label">Contraseña</label>
                <input asp-for="Contrasena" type="password" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>