@model RRHH.Models.Departamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartamentoId" />
            <div class="form-group">
                <label asp-for="Departamento1" class="control-label"></label>
                <input asp-for="Departamento1" class="form-control" />
                <span asp-validation-for="Departamento1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoCreate" class="control-label"></label>
                <input asp-for="DepartamentoCreate" class="form-control" />
                <span asp-validation-for="DepartamentoCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoUpdate" class="control-label"></label>
                <input asp-for="DepartamentoUpdate" class="form-control" />
                <span asp-validation-for="DepartamentoUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoDelete" class="control-label"></label>
                <input asp-for="DepartamentoDelete" class="form-control" />
                <span asp-validation-for="DepartamentoDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoStatus" class="control-label"></label>
                <input asp-for="DepartamentoStatus" class="form-control" />
                <span asp-validation-for="DepartamentoStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
