@model RRHH.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UsuarioId" />
    <div class="mb-3">
        <label asp-for="NombreUsuario" class="form-label"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Contrasena" class="form-label"></label>
        <input asp-for="Contrasena" type="password" class="form-control" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>
    <!-- Agrega más campos según sea necesario -->
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>